@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PatriciaGothic', 'sans-serif';
  src: url('/fonts/myfont.woff2') format('woff2');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.buttonGradient {
  background: linear-gradient(to top right, #fd267a, #ff6036);
  border: none;
  color: white;
  padding: 11px 22px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
}
.buttonGradient:hover {
  background: linear-gradient(to top right, #fd2d71, #fd725c);
}

.arrowGradient {
  background: linear-gradient(to top right, #fd267a, #ff6036);
  color: white;
}
.bgGradient {
  background: linear-gradient(to bottom, #fd267a, #ff6036);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.backgroundImage {
  background-image: url('../public/bg-image.webp');
}

body {
  font-family: 'PatriciaGothic', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
